In [114]:
# Import important library
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline
import warnings
from sklearn import metrics
from sklearn.model_selection import train_test_split
from sklearn.metrics import precision_recall_curve,accuracy_score,f1_score,precision_score,recall_score
from sklearn.ensemble import RandomForestClassifier

warnings.filterwarnings('ignore')

### Q1 Read the input file and check the data dimension

In [45]:
#Read input file and understand the data
# "default" is my dependent variable

In [46]:
ls

_R4_External_Lab_Validation_Accuracy .ipynb
german_credit.csv

In [47]:
credit_df = pd.read_csv('german_credit.csv')
credit_df.head()

,default,account_check_status,duration_in_month,credit_history,purpose,credit_amount,savings,present_emp_since,installment_as_income_perc,personal_status_sex,...,present_res_since,property,age,other_installment_plans,housing,credits_this_bank,job,people_under_maintenance,telephone,foreign_worker
0,0,< 0 DM,6,critical account/ other credits existing (not ...,domestic appliances,1169,unknown/ no savings account,.. >= 7 years,4,male : single,...,4,real estate,67,none,own,2,skilled employee / official,1,"yes, registered under the customers name",yes
1,1,0 <= ... < 200 DM,48,existing credits paid back duly till now,domestic appliances,5951,... < 100 DM,1 <= ... < 4 years,2,female : divorced/separated/married,...,2,real estate,22,none,own,1,skilled employee / official,1,none,yes
2,0,no checking account,12,critical account/ other credits existing (not ...,(vacation - does not exist?),2096,... < 100 DM,4 <= ... < 7 years,2,male : single,...,3,real estate,49,none,own,1,unskilled - resident,2,none,yes
3,0,< 0 DM,42,existing credits paid back duly till now,radio/television,7882,... < 100 DM,4 <= ... < 7 years,2,male : single,...,4,if not A121 : building society savings agreeme...,45,none,for free,1,skilled employee / official,2,none,yes
4,1,< 0 DM,24,delay in paying off in the past,car (new),4870,... < 100 DM,1 <= ... < 4 years,3,male : single,...,4,unknown / no property,53,none,for free,2,skilled employee / official,2,none,yes

In [48]:
credit_df.shape

(1000, 21)

In [49]:
credit_df.describe().transpose()

,count,mean,std,min,25%,50%,75%,max
default,1000.0,0.300,0.458487,0.0,0.0,0.0,1.00,1.0
duration_in_month,1000.0,20.903,12.058814,4.0,12.0,18.0,24.00,72.0
credit_amount,1000.0,3271.258,2822.736876,250.0,1365.5,2319.5,3972.25,18424.0
installment_as_income_perc,1000.0,2.973,1.118715,1.0,2.0,3.0,4.00,4.0
present_res_since,1000.0,2.845,1.103718,1.0,2.0,3.0,4.00,4.0
age,1000.0,35.546,11.375469,19.0,27.0,33.0,42.00,75.0
credits_this_bank,1000.0,1.407,0.577654,1.0,1.0,1.0,2.00,4.0
people_under_maintenance,1000.0,1.155,0.362086,1.0,1.0,1.0,1.00,2.0

In [50]:
credit_df.info()
credit_df.nunique()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 21 columns):
default                       1000 non-null int64
account_check_status          1000 non-null object
duration_in_month             1000 non-null int64
credit_history                1000 non-null object
purpose                       1000 non-null object
credit_amount                 1000 non-null int64
savings                       1000 non-null object
present_emp_since             1000 non-null object
installment_as_income_perc    1000 non-null int64
personal_status_sex           1000 non-null object
other_debtors                 1000 non-null object
present_res_since             1000 non-null int64
property                      1000 non-null object
age                           1000 non-null int64
other_installment_plans       1000 non-null object
housing                       1000 non-null object
credits_this_bank             1000 non-null int64
job                           1000 non-null object
people_under_maintenance      1000 non-null int64
telephone                     1000 non-null object
foreign_worker                1000 non-null object
dtypes: int64(8), object(13)
memory usage: 164.2+ KB

default                         2
account_check_status            4
duration_in_month              33
credit_history                  5
purpose                        10
credit_amount                 921
savings                         5
present_emp_since               5
installment_as_income_perc      4
personal_status_sex             4
other_debtors                   3
present_res_since               4
property                        4
age                            53
other_installment_plans         3
housing                         3
credits_this_bank               4
job                             4
people_under_maintenance        2
telephone                       2
foreign_worker                  2
dtype: int64

In [51]:
# Lets build a Ensemble model but need to modify the dataset first

### Q2.Prepare the model data by converting non-numeric to dummy ( 1 Marks)
##### Hint: Use get_dummies

In [52]:
# Print Shape of model data
credit_df.shape

(1000, 21)

In [53]:
pd.get_dummies(credit_df).shape

(1000, 62)

In [54]:
credit_dummies_df = pd.get_dummies(credit_df)

### Check for highly correlated variables but don't required any treatment for this use case

In [68]:
string_cols = credit_df.select_dtypes(exclude='int64').columns
temp_df = credit_df[string_cols]
temp_df.nunique()

account_check_status        4
credit_history              5
purpose                    10
savings                     5
present_emp_since           5
personal_status_sex         4
other_debtors               3
property                    4
other_installment_plans     3
housing                     3
job                         4
telephone                   2
foreign_worker              2
dtype: int64

In [82]:
credit_df.groupby(['foreign_worker' ,'telephone']).size()

foreign_worker  telephone
no              none                                          32
                yes, registered under the customers name       5
yes             none                                         564
                yes, registered under the customers name     399
dtype: int64

### Drop the original variables which are converted to dummy

Since 'foreign_worker' ,'telephone' columns have binary values, one of the dummy columns for each of these will be redundant.

In [84]:
credit_dummies_df.drop(columns=['foreign_worker_no','telephone_none'],inplace=True)

In [86]:
credit_dummies_df.corr().head()

,default,duration_in_month,credit_amount,installment_as_income_perc,present_res_since,age,credits_this_bank,people_under_maintenance,account_check_status_0 <= ... < 200 DM,account_check_status_< 0 DM,...,other_installment_plans_stores,housing_for free,housing_own,housing_rent,job_management/ self-employed/ highly qualified employee/ officer,job_skilled employee / official,job_unemployed/ unskilled - non-resident,job_unskilled - resident,"telephone_yes, registered under the customers name",foreign_worker_yes
default,1.000000,0.214927,0.154739,0.072404,0.002967,-0.091127,-0.045732,-0.003015,0.119581,0.258333,...,0.050523,0.081556,-0.134589,0.092785,0.040559,-0.013559,0.005951,-0.021822,-0.036466,0.082079
duration_in_month,0.214927,1.000000,0.624984,0.074749,0.034067,-0.036136,-0.011284,-0.023834,0.089452,0.022244,...,0.065688,0.189117,-0.075169,-0.064417,0.147515,0.055010,-0.044043,-0.181203,0.164718,0.138196
credit_amount,0.154739,0.624984,1.000000,-0.271316,0.028926,0.032716,0.020795,0.017142,0.119612,-0.020912,...,0.024262,0.201643,-0.117497,-0.024611,0.319715,-0.092636,-0.027969,-0.161757,0.276995,0.050050
installment_as_income_perc,0.072404,0.074749,-0.271316,1.000000,0.049302,0.058266,0.021669,-0.071207,-0.051906,0.046917,...,0.056071,0.040098,0.049922,-0.091373,0.042805,0.042623,-0.087834,-0.057237,0.014413,0.090024
present_res_since,0.002967,0.034067,0.028926,0.049302,1.000000,0.266419,0.089625,0.042643,-0.055817,0.088350,...,-0.054460,0.227044,-0.297547,0.167285,0.004952,-0.000657,-0.034545,0.009065,0.095359,0.054097

In [99]:
#Check which columns are highly correlated
corr_matrix = credit_dummies_df.corr().abs()
threshold = 0.8
# Select upper triangle of correlation matrix
upper = corr_matrix.where(np.triu(np.ones(corr_matrix.shape), k=1).astype(np.bool))

# Find features with correlation greater than threshold
high_corr_cols = [column for column in upper.columns if any(upper[column] > threshold)]
high_corr_cols

['other_installment_plans_none']

### Q3 Split Train/Test data 70:30 ratio( 1 Marks)
##### Hint:from sklearn.model_selection import train_test_split

In [106]:
array = credit_dummies_df.values
y = array[:,:1] # First column is dependent variable
X = array[:,1:]

In [107]:

test_size = 0.30 # taking 70:30 training and test set
seed = 7  # Random numbmer seeding for reapeatability of the code
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=test_size, random_state=seed)

### Q4 Build Random Forest Model( 1 Marks)
#### Hint:from sklearn.ensemble import RandomForestClassifier using n_jobs=2,n_estimators=500,criterion="entropy",random_state=9999

In [115]:
model = RandomForestClassifier(n_jobs=2,n_estimators=500,criterion="entropy",random_state=9999)
model.fit(X_train, y_train)
y_predict = model.predict(X_test)
model_score = model.score(X_test, y_test)
model_score_f1 = f1_score(y_test,y_predict)
accuracy = accuracy_score(y_test,y_predict)
print('model score: {}'.format(model_score))
print('f1 score: {}'.format(model_score_f1))
print('accuracy: {}'.format(accuracy))

model score: 0.8066666666666666
f1 score: 0.5606060606060607
accuracy: 0.8066666666666666
              precision    recall  f1-score   support

           0       0.82      0.94      0.88       217
           1       0.76      0.45      0.56        83

    accuracy                           0.81       300
   macro avg       0.79      0.70      0.72       300
weighted avg       0.80      0.81      0.79       300

[[205  12]
 [ 46  37]]

### Q5 Calculate Confusion Matrix and Accuracy score (1 Marks)
##### Hint: Use confusion_matrix and accuracy_score

In [116]:
print(metrics.classification_report(y_test, y_predict))
print(metrics.confusion_matrix(y_test, y_predict))

              precision    recall  f1-score   support

           0       0.82      0.94      0.88       217
           1       0.76      0.45      0.56        83

    accuracy                           0.81       300
   macro avg       0.79      0.70      0.72       300
weighted avg       0.80      0.81      0.79       300

[[205  12]
 [ 46  37]]

### Q6 Show the list of the features importance( 1 Marks)

In [135]:
print (pd.DataFrame(model.feature_importances_, columns = ["Imp"], index = credit_dummies_df.columns[1:]))

                                                         Imp
duration_in_month                                   0.079427
credit_amount                                       0.100850
installment_as_income_perc                          0.036474
present_res_since                                   0.035314
age                                                 0.078607
credits_this_bank                                   0.018443
people_under_maintenance                            0.013429
account_check_status_0 <= ... < 200 DM              0.016434
account_check_status_< 0 DM                         0.032398
account_check_status_>= 200 DM / salary assignm...  0.008878
account_check_status_no checking account            0.048115
credit_history_all credits at this bank paid ba...  0.009419
credit_history_critical account/ other credits ...  0.018121
credit_history_delay in paying off in the past      0.010061
credit_history_existing credits paid back duly ...  0.013967
credit_history_no credits taken/ all credits pa...  0.008787
purpose_(vacation - does not exist?)                0.007928
purpose_business                                    0.010895
purpose_car (new)                                   0.017192
purpose_car (used)                                  0.010745
purpose_domestic appliances                         0.015673
purpose_education                                   0.003955
purpose_furniture/equipment                         0.001802
purpose_radio/television                            0.013695
purpose_repairs                                     0.002562
purpose_retraining                                  0.000896
savings_.. >= 1000 DM                               0.005513
savings_... < 100 DM                                0.019219
savings_100 <= ... < 500 DM                         0.008953
savings_500 <= ... < 1000 DM                        0.007136
savings_unknown/ no savings account                 0.013456
present_emp_since_.. >= 7 years                     0.012643
present_emp_since_... < 1 year                      0.015236
present_emp_since_1 <= ... < 4 years                0.015283
present_emp_since_4 <= ... < 7 years                0.013198
present_emp_since_unemployed                        0.007950
personal_status_sex_female : divorced/separated...  0.015489
personal_status_sex_male : divorced/separated       0.007428
personal_status_sex_male : married/widowed          0.008705
personal_status_sex_male : single                   0.017324
other_debtors_co-applicant                          0.006741
other_debtors_guarantor                             0.006937
other_debtors_none                                  0.010190
property_if not A121 : building society savings...  0.014816
property_if not A121/A122 : car or other, not i...  0.015405
property_real estate                                0.015492
property_unknown / no property                      0.014123
other_installment_plans_bank                        0.015146
other_installment_plans_none                        0.015437
other_installment_plans_stores                      0.006581
housing_for free                                    0.007957
housing_own                                         0.014672
housing_rent                                        0.010893
job_management/ self-employed/ highly qualified...  0.010591
job_skilled employee / official                     0.016322
job_unemployed/ unskilled - non-resident            0.003402
job_unskilled - resident                            0.012371
telephone_yes, registered under the customers n...  0.017576
foreign_worker_yes                                  0.003750

### Q7 K-fold cross-validation( 2 Marks)
##### k-fold cross validation( without stratification)
##### Usually k is set as 10-20 in practical settings, depends on data set size

In [142]:
from sklearn.model_selection import KFold
from sklearn.model_selection import cross_val_score,cross_val_predict

In [137]:
# Use below values
num_folds = 10
seed = 77

In [ ]:
#Validate the Random Forest model build above using k fold

In [144]:
seed = 1
kfold = KFold(n_splits=10, random_state=seed)

In [146]:
y_predict = cross_val_predict(model,X,y,cv=kfold)

In [ ]:
#Calculate Mean score

In [140]:
results = cross_val_score(model, X, y, scoring='neg_mean_squared_error', cv=kfold)
print("Mean Square Error: %.3f (%.3f)" % (-results.mean(), results.std()))

Mean Square Error: 0.235 (0.046)

In [148]:
results = cross_val_score(model, X, y_predict, scoring='neg_mean_squared_error', cv=kfold)
print("Mean Square Error: %.3f (%.3f)" % (-results.mean(), results.std()))

Mean Square Error: 0.106 (0.030)

In [ ]:
# Calculate score standard deviation using std()

# Q8 Print the confusion matrix( 1 Marks)

In [149]:
print(metrics.confusion_matrix(y, y_predict))

[[647  53]
 [182 118]]

# Q9.Classification accuracy: 
percentage of correct predictions and Calculate sensitivity (or True Positive Rate or Recall) and Precision.
(2 Marks)

In [150]:
recall = (647/(647+182))
prec = (647/(647+53))
print(recall)
print(prec)

0.7804583835946924
0.9242857142857143

[link text](https://)### Bootstrapping ( Bonus and Optional)
##### Given a dataset of size n, a bootstrap sample is created by sampling n instances uniformly from the data (with/without replacement)
##### Create a model with each bootstrap sample and validate it with the test set
##### Final result is calculated by averaging the accuracy of models

In [ ]:
# Number of iterations for bootstrapping
bootstrap_iteration = 10
accuracy = []

In [ ]:
from sklearn.utils import resample
from sklearn.metrics import accuracy_score

for i in range(bootstrap_iteration):
    X_, y_ = resample(X_train, y_train)
    rfm.fit(X_, y_)
    y_pred = rfm.predict(X_test)
    
    acc = accuracy_score(y_pred, y_test)
    accuracy.append(acc)

In [ ]:
accuracy = np.array(accuracy)
print('Accuracy Score')
print('Avearge: ', accuracy.mean())
print('Standard deviation: ', accuracy.std())