# You are required to do the following:

Read the data set and replace dashes with 0 to make sure you can perform arithmetic operations on the data. (5 points)
Print all the teams which have started playing between 1930-1980. (5 points)
Print the list of teams which came Top 5 in terms of points (5 points)
Write a function with name “Goal_diff_count” which should return all the teams with their Goal Differences. Using the same function, find the team which has maximum and minimum goal difference. (5 points)
Goal_diff_count = GoalsFor - GoalsAgainst

Create a new column with name “Winning Percent” and append it to the data set (5 points)
Percentage of Winning = (GamesWon / GamesPlayed)*100

If there are any numerical error, replace it with 0%

Print the top 5 teams which has the highest Winning percentage

Group teams based on their “Best position” and print the sum of their points for all positions (5 points)
Eg: Best Position                Points

          1                              25000

          2                              7000

In [122]:
import pandas as pd
import numpy as np

**Q1:** Read the data set and replace dashes with 0 to make sure you can perform arithmetic operations on the data.

In [155]:
laliga = pd.read_csv('Laliga.csv', header=1) #Read csv into df. Header=1 since first line is blank
laliga.head(10)

,Pos,Team,Seasons,Points,GamesPlayed,GamesWon,GamesDrawn,GamesLost,GoalsFor,GoalsAgainst,Champion,Runner-up,Third,Fourth,Fifth,Sixth,T,Debut,Since/LastApp,BestPosition
0,1,Real Madrid,86,4385,2762,1647,552,563,5947,3140,33,23,8,8,3,4,79,1929,1929,1
1,2,Barcelona,86,4262,2762,1581,573,608,5900,3114,25,25,12,12,4,6,83,1929,1929,1
2,3,Atletico Madrid,80,3442,2614,1241,598,775,4534,3309,10,8,16,9,7,6,56,1929,2002-03,1
3,4,Valencia,82,3386,2664,1187,616,861,4398,3469,6,6,10,11,10,7,50,1931-32,1987-88,1
4,5,Athletic Bilbao,86,3368,2762,1209,633,920,4631,3700,8,7,10,5,8,10,49,1929,1929,1
5,6,Sevilla,73,2819,2408,990,531,887,3680,3373,1,4,4,5,12,6,32,1934-35,2001-02,1
6,7,Espanyol,82,2792,2626,948,608,1070,3609,3889,-,-,4,5,2,5,16,1929,1994-95,3
7,8,Real Sociedad,70,2573,2302,864,577,861,3228,3230,2,3,2,5,4,3,19,1929,2010-11,1
8,9,Zaragoza,58,2109,1986,698,522,766,2683,2847,-,1,4,5,4,4,18,1939-40,2012-13,2
9,10,Real Betis,51,1884,1728,606,440,682,2159,2492,1,-,2,3,4,4,14,1932-33,2015-16,1

In [156]:
laliga.replace(to_replace='-',value='0',inplace=True) #Replace the '-' with '0' for computing
laliga.head(10)

,Pos,Team,Seasons,Points,GamesPlayed,GamesWon,GamesDrawn,GamesLost,GoalsFor,GoalsAgainst,Champion,Runner-up,Third,Fourth,Fifth,Sixth,T,Debut,Since/LastApp,BestPosition
0,1,Real Madrid,86,4385,2762,1647,552,563,5947,3140,33,23,8,8,3,4,79,1929,1929,1
1,2,Barcelona,86,4262,2762,1581,573,608,5900,3114,25,25,12,12,4,6,83,1929,1929,1
2,3,Atletico Madrid,80,3442,2614,1241,598,775,4534,3309,10,8,16,9,7,6,56,1929,2002-03,1
3,4,Valencia,82,3386,2664,1187,616,861,4398,3469,6,6,10,11,10,7,50,1931-32,1987-88,1
4,5,Athletic Bilbao,86,3368,2762,1209,633,920,4631,3700,8,7,10,5,8,10,49,1929,1929,1
5,6,Sevilla,73,2819,2408,990,531,887,3680,3373,1,4,4,5,12,6,32,1934-35,2001-02,1
6,7,Espanyol,82,2792,2626,948,608,1070,3609,3889,0,0,4,5,2,5,16,1929,1994-95,3
7,8,Real Sociedad,70,2573,2302,864,577,861,3228,3230,2,3,2,5,4,3,19,1929,2010-11,1
8,9,Zaragoza,58,2109,1986,698,522,766,2683,2847,0,1,4,5,4,4,18,1939-40,2012-13,2
9,10,Real Betis,51,1884,1728,606,440,682,2159,2492,1,0,2,3,4,4,14,1932-33,2015-16,1

**Q2:** Print all the teams which have started playing between 1930-1980

In [125]:
laliga[['Debut1','Debut2']] = laliga.Debut.str.split("-",expand=True) 
#split the Debut col based on '-' to get the start of the fiscal year. Retain the original col

In [126]:
laliga = laliga.astype({"Debut1": int}) #change datatype from string to integer
#We'll change the dtype of the columns as needed instead of changing the dtype of all cols in the beginning

In [127]:
laliga[(laliga['Debut1'] >= 1930) & (laliga['Debut1'] <= 1980)].describe()

             Pos    Seasons  BestPosition       Debut1
count  37.000000  37.000000     37.000000    37.000000
mean   29.837838  22.810811      6.675676  1951.000000
std    16.225004  21.202513      4.601051    14.632536
min     4.000000   1.000000      1.000000  1930.000000
25%    17.000000   6.000000      4.000000  1940.000000
50%    28.000000  14.000000      5.000000  1949.000000
75%    41.000000  37.000000     10.000000  1961.000000
max    60.000000  82.000000     16.000000  1979.000000

Total 37 teams started playing between 1930-80

**Q3.** Print the list of teams which came Top 5 in terms of points

In [157]:
laliga = laliga.astype({"Points": int}) #change datatype from string to integer
laliga = laliga.sort_values('Points', ascending=False)
laliga['Team'].head()

0        Real Madrid
1          Barcelona
2    Atletico Madrid
3           Valencia
4    Athletic Bilbao
Name: Team, dtype: object

Real Madrid, Barcelona, Atletico Madrid, Valencia, Athletic Bilbao are the top 5 teams based on Points with rankings from 1 to 5 respectively

**Q4.** Write a function with name “Goal_diff_count” which should return all the teams with their Goal Differences. Using the same function, find the team which has maximum and minimum goal difference.

Goal_diff_count = GoalsFor - GoalsAgainst

In [129]:
def Goal_diff_count(df):
    df = df.astype({"GoalsFor": int,"GoalsAgainst": int}) #change datatype from string to integer
    df['Goal_diff_count'] = df['GoalsFor'] - df['GoalsAgainst']
    highest = df[df['Goal_diff_count'] == df['Goal_diff_count'].max()]['Team']
    lowest = df[df['Goal_diff_count'] == df['Goal_diff_count'].min()]['Team']
    return df,highest,lowest

In [130]:
laliga,highest,lowest = Goal_diff_count(laliga)
print("{} team has the highest goal difference whereas {} has the lowest goal difference.".format(highest.item(),lowest.item()))

Real Madrid team has the highest goal difference whereas Racing Santander has the lowest goal difference.

In [131]:
#goal diff for every team can be found in Goal_diff_count column
laliga.head()

,Pos,Team,Seasons,Points,GamesPlayed,GamesWon,GamesDrawn,GamesLost,GoalsFor,GoalsAgainst,...,Fourth,Fifth,Sixth,T,Debut,Since/LastApp,BestPosition,Debut1,Debut2,Goal_diff_count
0,1,Real Madrid,86,4385,2762,1647,552,563,5947,3140,...,8,3,4,79,1929,1929,1,1929,None,2807
1,2,Barcelona,86,4262,2762,1581,573,608,5900,3114,...,12,4,6,83,1929,1929,1,1929,None,2786
2,3,Atletico Madrid,80,3442,2614,1241,598,775,4534,3309,...,9,7,6,56,1929,2002-03,1,1929,None,1225
3,4,Valencia,82,3386,2664,1187,616,861,4398,3469,...,11,10,7,50,1931-32,1987-88,1,1931,32,929
4,5,Athletic Bilbao,86,3368,2762,1209,633,920,4631,3700,...,5,8,10,49,1929,1929,1,1929,None,931

**Q5.:** Create a new column with name “Winning Percent” and append it to the data set.
Percentage of Winning = (GamesWon / GamesPlayed)*100

If there are any numerical error, replace it with 0%

Print the top 5 teams which has the highest Winning percentag

In [132]:
laliga = laliga.astype({"GamesWon": int,"GamesPlayed": int}) #change datatype from string to integer
laliga['GamesPlayed'].describe()

count      61.000000
mean      796.819672
std       876.282765
min         0.000000
25%       114.000000
50%       423.000000
75%      1318.000000
max      2762.000000
Name: GamesPlayed, dtype: float64

In [133]:
#Since some of the teams haven't played any games, we need to handle 'divide by zero' exception
laliga['Winning Percent'] = (100.0 * laliga['GamesWon'])/laliga['GamesPlayed']
laliga['Winning Percent'] = laliga['Winning Percent'].fillna(0)

In [134]:
laliga.head()

,Pos,Team,Seasons,Points,GamesPlayed,GamesWon,GamesDrawn,GamesLost,GoalsFor,GoalsAgainst,...,Fifth,Sixth,T,Debut,Since/LastApp,BestPosition,Debut1,Debut2,Goal_diff_count,Winning Percent
0,1,Real Madrid,86,4385,2762,1647,552,563,5947,3140,...,3,4,79,1929,1929,1,1929,None,2807,59.630702
1,2,Barcelona,86,4262,2762,1581,573,608,5900,3114,...,4,6,83,1929,1929,1,1929,None,2786,57.241130
2,3,Atletico Madrid,80,3442,2614,1241,598,775,4534,3309,...,7,6,56,1929,2002-03,1,1929,None,1225,47.475134
3,4,Valencia,82,3386,2664,1187,616,861,4398,3469,...,10,7,50,1931-32,1987-88,1,1931,32,929,44.557057
4,5,Athletic Bilbao,86,3368,2762,1209,633,920,4631,3700,...,8,10,49,1929,1929,1,1929,None,931,43.772629

In [135]:
laliga[laliga['Winning Percent'] == laliga['Winning Percent'].min()]

,Pos,Team,Seasons,Points,GamesPlayed,GamesWon,GamesDrawn,GamesLost,GoalsFor,GoalsAgainst,...,Fifth,Sixth,T,Debut,Since/LastApp,BestPosition,Debut1,Debut2,Goal_diff_count,Winning Percent
60,61,Girona,1,0,0,0,0,0,0,0,...,0,0,0,2017-18,2017-18,9,2017,18,0,0.0

In [136]:
laliga[laliga['GamesPlayed'] == laliga['GamesPlayed'].min()]

,Pos,Team,Seasons,Points,GamesPlayed,GamesWon,GamesDrawn,GamesLost,GoalsFor,GoalsAgainst,...,Fifth,Sixth,T,Debut,Since/LastApp,BestPosition,Debut1,Debut2,Goal_diff_count,Winning Percent
60,61,Girona,1,0,0,0,0,0,0,0,...,0,0,0,2017-18,2017-18,9,2017,18,0,0.0

In [138]:
laliga = laliga.sort_values('Winning Percent', ascending=False)
laliga['Team'].head() #Top 5 teams with highest winning percentage

0        Real Madrid
1          Barcelona
2    Atletico Madrid
3           Valencia
4    Athletic Bilbao
Name: Team, dtype: object

**Q6: ** Group teams based on their “Best position” and print the sum of their points for all positions (5 points)

        Eg: Best Position                Points

          1                              25000

          2                              7000

In [139]:
laliga['BestPosition'].describe()

count    61.000000
mean      7.081967
std       5.276663
min       1.000000
25%       3.000000
50%       6.000000
75%      10.000000
max      20.000000
Name: BestPosition, dtype: float64

In [150]:
laliga.groupby('BestPosition')['Points'].sum()

BestPosition
1     27933
2      6904
3      5221
4      6563
5      1884
6      2113
7      1186
8      1134
9        96
10      450
11      445
12      511
14       71
15       14
16       81
17      266
19       81
20       34
Name: Points, dtype: int64